<div class="flex flex-col items-center justify-center">

  <img class="w-20 h-20 rounded-full mt-6" src="/src/app/Images/foto.jpeg" alt="Rounded avatar">

  <p class="mt-4 text-center text-32 font-semibold">Hola!, soy Cristhian Montoya Gahona</p>

  <p class="mt-10 text-center text-32 text-black">Estudiante de Ingeniería Civil en Computación e Informática</p>
  <p class="text-center text-32 text-black">Universidad Católica del Norte, Antofagasta</p>

  <div class="flex justify-center mt-6 space-x-20">
    
    <contactameButton class="text-center"></contactameButton>
    
    
    <gitHubButton class="text-center"></gitHubButton>
  </div>


  <ol class="relative border-l border-gray-200 dark:border-gray-700 ms-4">
    <li class="mb-10 ms-4">
      
      <!-- Pelotita alineada con el texto "404: Not Found" -->
      <div class="absolute w-4 h-4 bg-green-500 rounded-full border border-white dark:border-gray-900 -left-2 top-20 transform -translate-y-0"></div>
      
      <div>
        <h3 class="mb-1 text-32 mt-10 font-bold leading-none text-gray-900 dark:text-white">Experiencia Laboral</h3>
        <h4 class="text-32 mt-10 font-bold text-gray-900 dark:text-white">404: Not Found</h4>
      </div>
    </li>
  </ol>

</div>