<div class="flex flex-col items-center justify-center">

  <!-- Imagen -->
  <img class="w-20 h-20 rounded-full mt-8" src="/Tarea2IDWM/src/Images/foto.jpeg" alt="Rounded avatar">

  <!-- Nombre y rol profesional -->
  <p class="mt-8 text-center text-[32px] font-semibold">Hola!, soy Cristhian Montoya Gahona</p>

  <p class="mt-4 text-center text-[32px] text-black">Estudiante de Ingeniería Civil en Computación e Informática</p>
  <p class="mt-4 text-center text-[32px] text-black">Universidad Católica del Norte, Antofagasta</p>

  <!-- Botones Contactame y GitHub -->
  <div class="flex justify-center mt-8 space-x-10">
    <contactameButton class="text-center"></contactameButton>
    <gitHubButton class="text-center"></gitHubButton>
  </div>

  <!-- Experiencia Laboral -->
  <div class="flex flex-row items-center justify-start mt-[267px]">
    <h3 class="text-[32px] font-bold text-gray-900 dark:text-white mr-8">Experiencia Laboral</h3>
    <img class="w-20 h-20 rounded-full" src="/Tarea2IDWM/src/Images/foto.jpeg" alt="Experiencia Laboral" />
  </div>

  <ol class="relative border-l border-gray-200 dark:border-gray-700 ms-4 mt-8">
    <li class="mb-12 ms-4">
      <!-- Pelota alineada con el texto -->
      <div class="absolute w-4 h-4 bg-[#8BBF6E] rounded-full border border-white dark:border-gray-900 -left-2 top-1/2 transform -translate-y-1/2"></div>
      <div>
        <h3 class="text-[32px] mt-10 font-bold text-gray-900 dark:text-white">404: Not Found</h3>
      </div>
    </li>
  </ol>

  <!-- Proyectos -->
  <div class="flex flex-row items-center justify-start mt-[267px]">
    <h3 class="text-[32px] font-bold text-gray-900 dark:text-white mr-8">Proyecto</h3>
    <img class="w-20 h-20 rounded-full" src="/Tarea2IDWM/src/Images/foto.jpeg" alt="Proyecto D" />
  </div>

  <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 mt-8">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="/Tarea2IDWM/src/Images/foto.jpeg" alt="Donkey Kong Arcade" />
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Donkey Kong Arcade</h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Recreación del mítico juego Donkey Kong, utilizando Unity para su elaboración.</p>
      <repoButton></repoButton>
    </div>
  </a>

  <!-- Sobre mi -->
  <div class="flex items-center mt-[267px] ml-0">
    <h3 class="text-[32px] font-bold text-gray-900 dark:text-white mr-8">Sobre mí</h3>
    <img class="w-20 h-20 rounded-full" src="/Tarea2IDWM/src/Images/foto.jpeg" alt="Sobre mí" />
  </div>

  <div class="w-[661px] h-[475px] text-[20px] overflow-hidden mt- 8">
    <p class="mb-4">Soy Cristhian Montoya Gahona, pero para muchos de mis amigos soy sCochayuyo. Siempre he sido amante de los videojuegos desde pequeño, gracias al mítico PlayStation 2. Me interesé en el campo de la informática al descubrir todo un mundo cuando tuve mi primera computadora. Actualmente, mi interés se centra en el desarrollo web.</p>
    <p class="mb-4">Durante mi formación académica, he aprendido varios lenguajes de programación como Python, Java, C++ y C#. Aunque no tengo un lenguaje favorito, me gusta bastante C#. Además, tengo algunas habilidades en el área de Data Science, específicamente en técnicas de machine learning, como la regresión. Finalmente, también poseo conocimientos básicos en electrotecnia.</p>
    <p class="mb-4">A lo largo de mi desarrollo profesional, he sido capaz de desarrollar habilidades blandas tales como:</p>
    <ul class="mb-4">
      <li>Trabajo en equipo: Al trabajar con otros, siempre entrego mi total compromiso y respeto hacia mis compañeros para lograr los objetivos.</li>
      <li>Adaptabilidad: Me adapto rápidamente a nuevos ambientes y cambios.</li>
    </ul>
  </div>

</div>